<form name="addCommentForm" novalidate>
    <div class="row">
        <div class="large-12 columns">
            <label for="email">Correo Electrónico</label>
            <input id="email" name="email" type="email" ng-model="comment.email" required>
            <p class="error" ng-if="addCommentForm.email.$invalid && addCommentForm.email.$dirty">
                Por favor introduzca un correo valido.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <label for="comment">Comentario</label>
            <textarea name="comment" id="comment" cols="30" rows="10" ng-model="comment.comment" required></textarea>
            <p class="error" ng-if="addCommentForm.comment.$invalid && addCommentForm.comment.$dirty">
                Por favor escriba su comentario.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns">
            <button class="button success float-right" ng-disabled="addCommentForm.$invalid" ng-click="ok()" promise-btn="addCommentPromise">
                Aceptar
            </button>
        </div>
        <div class="large-6 columns">
            <button class="button alert" ng-click="cancel()">
                Cancelar
            </button>
        </div>
    </div>
</form>